<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<head>
    <title>
        Characters list
    </title>
</head>
<body>
<h1>Characters:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>

    </tr>
    <tr th:each="char: ${chars}">
        <td th:text="${char.id}"></td>
        <td><a th:href="@{/chars/{id}(id=${char.id})}" th:text="${char.name}"></a></td>
        <td th:text="${char.status}"></td>

    </tr>
</table>
</body>
</html>