<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${char.name}">Char Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Characters_API</h1>

</header>

<main>
    <div class="character-detail">
        <div class="character-image">
            <img th:src="@{${char.image}}" th:alt="${char.name}">
        </div>

        <div class="character-info">
            <h2 th:text="${char.name}">Имя персонажа</h2>
            Вид: <p th:text="${char.species}">Вид</p>
            Тип: <p th:text="${char.type}">Тип</p>
            Гендер: <p th:text="${char.gender}">Гендер</p>
            Статус: <p th:text="${char.status}">Статус</p>
            Дата создания: <p th:text="${char.created}">Дата создания</p>

            <button th:onclick="'location.href=\'/characters' + '?page=' + ${page} + '\';'">Вернуться к списку</button>

        </div>
    </div>
</main>

<footer>
    <p>© 2025 Characters</p>
</footer>
</body>
</html>