<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${char.name} + ' — Магазин товаров'">Char Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
    <h1>Characters_API</h1>

<!--    &lt;!&ndash; Поиск &ndash;&gt;-->
<!--    <form th:action="@{/shop}" method="get">-->
<!--        <input type="text" name="query" placeholder="Поиск..." th:value="${query}">-->
<!--        <button type="submit">Поиск</button>-->
<!--    </form>-->

<!--    &lt;!&ndash; Фильтрация &ndash;&gt;-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a th:href="@{/shop}">Все</a></li>-->
<!--            <li th:each="category : ${categories}">-->
<!--                <a th:href="@{/shop(category=${category.name})}" th:text="${category.name}"></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
</header>

<main>
    <div class="product-detail">
        <div class="product-image">
            <img th:src="@{${char.image}}" th:alt="${char.name}">
        </div>

        <div class="product-info">
            <h2 th:text="${char.name}">Название товара</h2>
            <p th:text="${char.status}">Описание товара</p>

            <button th:onclick="'location.href=\'/chars\';'">Вернуться к списку</button>
        </div>
    </div>
</main>

<footer>
    <p>© 2025 Characters</p>
</footer>
</body>
</html>