<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- подключите стили -->
</head>
<body>
<header>
    <h1>Characters_API</h1>

    <!-- Фильтрация -->
    <form th:action="@{/filter}" method="get">
        <input type="text" name="name" placeholder="Имя" th:value="${name}">

        <select name="status">
            <option value="alive" th:selected="${status == 'alive'}">alive</option>
            <option value="dead" th:selected="${status == 'dead'}">dead</option>
            <option value="unknown" th:selected="${status == 'unknown'}">unknown</option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>
    <a th:href="@{/characters}" style="margin-left: 10px;">Сбросить</a>

    <!--Пагинация-->
    <div class="pagination">
        <a th:href="@{/filter(page=${prevPage}, name=${name}, status=${status}, species=${species})}"
           th:classappend="${prevPage == null} ? 'disabled' : ''">Назад</a>

        <span>Страница <span th:text="${currentPage}">1</span></span>

        <a th:href="@{/filter(page=${nextPage}, name=${name}, status=${status}, species=${species})}"
           th:classappend="${nextPage == null} ? 'disabled' : ''">Вперёд</a>
    </div>
</header>

<!-- Карточки персонажей -->
<main>
    <div class="character-grid">
        <div class="character-card" th:each="char: ${chars}">
            <img th:src="@{${char.image}}" alt="Изображение персонажа">
            <h2 th:text="${char.name}">Название</h2>
            <p th:text="${char.status}">Статус</p>
            <button th:onclick="'location.href=\'/' + ${char.id} + '\';'">Подробнее</button>
        </div>
    </div>
</main>

<footer>
    <!--Пагинация-->
    <div class="pagination">
        <a th:href="@{/filter(page=${prevPage}, name=${name}, status=${status}, species=${species})}"
           th:classappend="${prevPage == null} ? 'disabled' : ''">Назад</a>

        <span>Страница <span th:text="${currentPage}">1</span></span>

        <a th:href="@{/filter(page=${nextPage}, name=${name}, status=${status}, species=${species})}"
           th:classappend="${nextPage == null} ? 'disabled' : ''">Вперёд</a>
    </div>
    <p>© 2025 Characters</p>
</footer>
</body>
</html>