<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<head>
    <meta charset="UTF-8">
    <title>404 - Страница не найдена</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div class="error">
    <h1>404 — Вселенная не найдена!</h1>
    <p>Похоже, Рик случайно телепортировал эту страницу в другое измерение.</p>

    <img class="glow-img" src="/static/pngwing.com.png"
         alt="Портал Рика и Морти"
         style="max-width: 300px; width: 100%; margin-top: 20px;">

    <div style="margin-top: 30px;">
        <a th:href="@{/characters}" class="home-button">
            <button>Вернуться домой</button>
        </a>
    </div>
</div>

</body>
</html>